<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyrange.mapper.UserMapper">
    <insert id="addUser">
        insert into user (username, password)
        values (#{username}, #{password})
    </insert>

    <select id="getCategoryDistribution" resultType="com.cyrange.vo.CategoryDistributionVO">
        SELECT  c.name, COUNT(*) AS  value
        FROM user_challenge_record  ucr
                 JOIN  cyrangechallenges  cc  ON  ucr.challenge_id =  cc.question_id
                 JOIN categories c  ON  cc.category = c.id
        WHERE  ucr.user_id = #{userId}  AND  ucr.is_correct =  1
        GROUP  BY  c.name
    </select>

    <select id="getRawTimeTrend"  resultType="TimeTrendResult">
        SELECT
            DATE_FORMAT(ucr.finish_time, '%Y-%m') AS month,
            SUM(c.points) AS score
        FROM
            user_challenge_record ucr
                JOIN
            cyrangechallenges c
            ON
                ucr.challenge_id = c.question_id
        WHERE
            ucr.user_id = #{userId}
        GROUP BY
            DATE_FORMAT(ucr.finish_time, '%Y-%m')
        ORDER BY
            month;
    </select>

    <select id="pageQuery" resultType="com.cyrange.vo.UserChallengeRecord">
        SELECT
        ccr.title AS challengeName,
        cat.name AS categoryName,
        ccr.points AS point,
        ucr.finish_time
        FROM user_challenge_record ucr
        JOIN cyrangechallenges ccr ON ucr.challenge_id = ccr.question_id
        JOIN categories cat ON ccr.category = cat.id
        <where>
            <if test="userId != null">
                AND ucr.user_id = #{userId}
            </if>
        </where>
        ORDER BY ucr.finish_time DESC
    </select>

    <update id="updateUserProfile">
        update user
        <set>
            <if test="username!=null">username=#{username},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="mail!=null">mail=#{mail},</if>
        </set>
        where id=#{id}
    </update>
</mapper>
